{
	"editor.defaultFormatter":"",
	"[typescript]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"bracketSpacing": true,
	"semi": true,
	"useTabs": true,
	"singleQuote": false,
	"bracketSameLine": true,
	"tabWidth": 6,
	"printWidth": 150
}
